{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>eldm.net</title>
        <link href="{% static "css/jquery-ui.css" %}" rel="stylesheet">
        <link href="https://fonts.cdnfonts.com/css/glitch-slap" rel="stylesheet">
    </head>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="{% static 'js/index.js' %}"></script>
    <style>
        body {
            background: #E2E2E2;
            font-family: 'Glitch Slap', sans-serif;
        } 
        .text-color {
            color: #00171c;
        }
        .center {
            text-align: center;
        }
    </style>
    <body>
        <h1 class="ui-accordion-header ui-corner-top ui-accordion-header-collapsed ui-corner-all ui-state-default ui-accordion-icons">
            eldm.net
        </h1>
        <div class="ui-tabs ui-corner-all ui-widget ui-widget-content">
            <ul class="ui-tabs-nav ui-corner-all ui-helper-reset ui-helper-clearfix ui-widget-header">
                <li id="home" class="ui-tabs-tab ui-corner-top ui-state-default ui-tab ui-tabs-active ui-state-active">
                    <a href="{% url 'accounts:index' %}" class="ui-tabs-anchor">Home</a>
                </li>
                {% if user.is_authenticated %}
                <li id="logout" class="ui-tabs-tab ui-corner-top ui-state-default ui-tab">
                    <a href="{% url 'accounts:logout' %}"class="ui-tabs-anchor">Logout</a>
                </li>
                <li id="dashboard" class="ui-tabs-tab ui-corner-top ui-state-default ui-tab">
                    <a href="{% url 'accounts:dashboard' %}"class="ui-tabs-anchor">Dashboard</a>
                </li>
                {% else %}
                <li id="login" class="ui-tabs-tab ui-corner-top ui-state-default ui-tab">
                    <a href="{% url 'accounts:user_login' %}" class="ui-tabs-anchor">Login</a>
                </li>
                <li id="register" class="ui-tabs-tab ui-corner-top ui-state-default ui-tab">
                    <a href="{% url 'accounts:register' %}" class="ui-tabs-anchor">Register</a>
                </li>
                {% endif %}
            </ul>
        </div>
        {% block content %}
        {% endblock %}

        {% if request.resolver_match.url_name == 'index' %}
            <h1 class="center">Welcome to the new eldm.net</h1>
            <p class="center">Contained in this site is misc files and blog posts.</p>
        {% endif %}
        
    </body>
</html>