{% extends 'accounts/base.html' %}
{% block content %}
    <h1 class="text-color">Please login</h1>
    <form action="{% url 'accounts:user_login' %}" method="post">
        {% csrf_token %}
        <label class="text-color" for="username">Username: </label>
        <input type="text" name="username" placeholder="Enter Username">
        <label class="text-color" for="password">Password: </label>
        <input type="password" name="password">
        <input type="submit" name="" value="Login">

    </form>
{% endblock %}